# Token from @BotFather
BOT_TOKEN=
# HTTPS address where webapp/index.html is hosted, e.g. https://<github-user>.github.io/pawsling/
WEBAPP_URL=
# Your Telegram id (from @userinfobot): purchase messages and /sales go to this account
ADMIN_ID=
